.container-CustomerItem{
    padding-left: 10px;
    height: 7vh;
    margin-top: 0.2%;
    margin-bottom: 0.2%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    border-radius: 3px;
    box-shadow:  0 0.6px 3px 0px black;
    align-items: center;

}
